@import './breakpoints.scss';

$primary: #eeba2b;
$secondary: #ffffff;
$accent: #ff3333;
$white: #fff;

$light-grey: #f4f6fc;
$dark-grey: #333;
$body-left-margin: 5%;
$body-right-margin: 5%;



h2 {
    margin: 0;
    @include for-size(phone-only) {
        font-size: 40px;
        text-align: center;
    }

    @include for-size(tablet-portrait-up) {
        font-size: 45;
    }

    @include for-size(tablet-landscape-up) {
        font-size: 50px;

}

    @include for-size(desktop-up) {
        font-size: 55;

    }

    @include for-size(big-desktop-up) {
        font-size: 60px;

    }
}

h1 {

    @include for-size(phone-only) {
        font-size: 40px;
        text-align: center;
    }

    @include for-size(tablet-portrait-up) {
        font-size: 45px;
    }

    @include for-size(tablet-landscape-up) {
        font-size: 60px;

}

    @include for-size(desktop-up) {
        font-size: 70px;

    }

    @include for-size(big-desktop-up) {
        font-size: 80px;

    }
}

p {

    font-size: 24px;
    @include for-size(phone-only) {
        text-align: center;
    }
}


.btn-style {
  width: 250px;
  height: 60px;
  background-color: $primary;
  color: $white !important;
  border-radius: 5px;
  font-size: 24px;
  z-index: 3;
  display: block;
  /* margin: 0 auto; */
  line-height: 60px;
  text-align: center;
}

a:hover {
    color: $accent;
}